openapi: 3.1.0
info:
  title: HeatCheck Public API
  version: 1.0.0
  description: |
    Production API for HeatCheck challenges, proof clips, OpenAI-assisted
    verification, paid participation, voting, moderation, account lifecycle,
    and copyright workflows. All timestamps use RFC 3339 UTC values.
servers:
  - url: https://heatcheck.dogi.watch
    description: Production
  - url: http://localhost:8080
    description: Local development
tags:
  - name: System
    description: Health, readiness, and API contract endpoints.
  - name: Policies
    description: Versioned public policy documents and acceptance.
  - name: Authentication
    description: Account registration, credentials, tokens, and sessions.
  - name: Accounts
    description: Account exports, deletion, and lifecycle operations.
  - name: Billing
    description: RevenueCat subscription synchronization and Pro entitlements.
  - name: Challenges
    description: Scheduled gameplay challenge discovery.
  - name: Media
    description: Signed proof-clip upload workflow.
  - name: Submissions
    description: Challenge entries, voting, profiles, rankings, and share cards.
  - name: Safety
    description: User safety controls, reports, and appeals.
  - name: Copyright
    description: Copyright notices and uploader counter-notices.
  - name: Administration
    description: Moderator and administrator operations.
security: []
paths:
  /openapi.yaml:
    get:
      tags: [System]
      operationId: getOpenAPISpec
      summary: Get the OpenAPI contract
      responses:
        "200":
          description: OpenAPI 3.1 contract.
          content:
            application/yaml:
              schema:
                type: string
  /healthz:
    get:
      tags: [System]
      operationId: health
      summary: Check API process health
      responses:
        "200":
          description: Process is running.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
  /readyz:
    get:
      tags: [System]
      operationId: readiness
      summary: Check API dependency readiness
      responses:
        "200":
          description: Service dependencies are ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
        "503":
          $ref: "#/components/responses/Error"
  /v1/policies:
    get:
      tags: [Policies]
      operationId: listCurrentPolicies
      summary: List current policy documents
      responses:
        "200":
          description: Current policy documents.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
  /v1/policies/{kind}:
    parameters:
      - $ref: "#/components/parameters/PolicyKind"
    get:
      tags: [Policies]
      operationId: getCurrentPolicy
      summary: Get a current policy document
      responses:
        "200":
          description: Current policy document.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyEnvelope"
        "404":
          $ref: "#/components/responses/Error"
  /v1/auth/register:
    post:
      tags: [Authentication]
      operationId: register
      summary: Register an account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - handle
                - display_name
                - date_of_birth
                - policy_acceptances
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 10
                  maxLength: 128
                  writeOnly: true
                handle:
                  type: string
                  pattern: "^[a-z0-9_]{3,24}$"
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 60
                date_of_birth:
                  type: string
                  format: date
                policy_acceptances:
                  type: array
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/PolicyAcceptance"
      responses:
        "201":
          description: Account and session created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthEnvelope"
        "409":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
        "428":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/auth/login:
    post:
      tags: [Authentication]
      operationId: login
      summary: Log in and create a session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  writeOnly: true
      responses:
        "200":
          description: Session created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthEnvelope"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/auth/refresh:
    post:
      tags: [Authentication]
      operationId: refreshSession
      summary: Rotate a refresh token
      requestBody:
        $ref: "#/components/requestBodies/RefreshToken"
      responses:
        "200":
          description: Refresh token rotated and session renewed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthEnvelope"
        "401":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/auth/logout:
    post:
      tags: [Authentication]
      operationId: logout
      summary: Revoke a refresh token
      requestBody:
        $ref: "#/components/requestBodies/RefreshToken"
      responses:
        "204":
          description: Refresh token revoked.
        "401":
          $ref: "#/components/responses/Error"
  /v1/auth/verify-email:
    post:
      tags: [Authentication]
      operationId: verifyEmail
      summary: Verify an email address
      requestBody:
        $ref: "#/components/requestBodies/OpaqueToken"
      responses:
        "204":
          description: Email address verified.
        "422":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/auth/forgot-password:
    post:
      tags: [Authentication]
      operationId: forgotPassword
      summary: Request a password reset
      description: Always returns an accepted response to prevent account enumeration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "202":
          description: Password-reset request accepted.
        "429":
          $ref: "#/components/responses/Error"
  /v1/auth/reset-password:
    post:
      tags: [Authentication]
      operationId: resetPassword
      summary: Reset an account password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token:
                  type: string
                  writeOnly: true
                new_password:
                  type: string
                  minLength: 10
                  maxLength: 128
                  writeOnly: true
      responses:
        "204":
          description: Password changed and all sessions revoked.
        "422":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/me:
    get:
      tags: [Authentication]
      operationId: getMe
      summary: Get the authenticated account
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current account and missing policy acceptances.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [user, missing_policy_acceptances]
                    properties:
                      user:
                        $ref: "#/components/schemas/PrivateUser"
                      missing_policy_acceptances:
                        type: array
                        items:
                          $ref: "#/components/schemas/PolicyAcceptance"
        "401":
          $ref: "#/components/responses/Error"
    delete:
      tags: [Accounts]
      operationId: requestAccountDeletion
      summary: Schedule account deletion
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  writeOnly: true
      responses:
        "202":
          description: Account deletion scheduled after the configured grace period.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletionEnvelope"
        "401":
          $ref: "#/components/responses/Error"
        "403":
          $ref: "#/components/responses/Error"
  /v1/me/subscription:
    get:
      tags: [Billing]
      operationId: getSubscription
      summary: Get subscription status and submission usage
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Server-authoritative subscription and UTC allowance windows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionOverviewEnvelope"
        "401":
          $ref: "#/components/responses/Error"
  /v1/me/subscription/sync:
    post:
      tags: [Billing]
      operationId: syncSubscription
      summary: Reconcile subscription state after purchase or restore
      description: |
        Fetches current RevenueCat customer information using the authenticated
        HeatCheck user ID as the RevenueCat App User ID.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Reconciled subscription and usage state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionOverviewEnvelope"
        "401":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
        "502":
          $ref: "#/components/responses/Error"
  /v1/billing/revenuecat/webhook:
    post:
      tags: [Billing]
      operationId: receiveRevenueCatWebhook
      summary: Receive a RevenueCat lifecycle webhook
      description: |
        RevenueCat-only callback. The API verifies both the configured
        Authorization value and the raw-body HMAC signature before reconciling
        affected subscribers against RevenueCat's current customer records.
        TRANSFER events reconcile both source and destination HeatCheck users.
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: X-RevenueCat-Webhook-Signature
          in: header
          required: true
          schema:
            type: string
            pattern: "^t=[0-9]+,v1=[a-f0-9]{64}$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [api_version, event]
              additionalProperties: true
              properties:
                api_version:
                  type: string
                  const: "1.0"
                event:
                  type: object
                  required: [id, type, app_id]
                  additionalProperties: true
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    app_id:
                      type: string
                    app_user_id:
                      type: string
                      format: uuid
                    transferred_from:
                      type: array
                      items:
                        type: string
                      description: App User IDs losing access in a TRANSFER event.
                    transferred_to:
                      type: array
                      items:
                        type: string
                      description: App User IDs receiving access in a TRANSFER event.
      responses:
        "200":
          description: Webhook accepted, ignored, or already processed.
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /v1/me/email-verification:
    post:
      tags: [Authentication]
      operationId: resendEmailVerification
      summary: Resend email verification
      security:
        - bearerAuth: []
      responses:
        "202":
          description: Verification email queued.
        "204":
          description: Email was already verified.
        "401":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/me/sessions:
    get:
      tags: [Authentication]
      operationId: listSessions
      summary: List active account sessions
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Active refresh-token families.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionListEnvelope"
        "401":
          $ref: "#/components/responses/Error"
    delete:
      tags: [Authentication]
      operationId: revokeAllSessions
      summary: Revoke all account sessions
      security:
        - bearerAuth: []
      responses:
        "204":
          description: All refresh-token families revoked.
  /v1/me/sessions/{sessionID}:
    parameters:
      - $ref: "#/components/parameters/SessionID"
    delete:
      tags: [Authentication]
      operationId: revokeSession
      summary: Revoke one account session
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Session revoked.
        "404":
          $ref: "#/components/responses/Error"
  /v1/me/exports:
    post:
      tags: [Accounts]
      operationId: createAccountExport
      summary: Request an account export
      security:
        - bearerAuth: []
      responses:
        "202":
          description: Export queued, or existing active export returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountExportEnvelope"
        "403":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/me/exports/{exportID}:
    parameters:
      - $ref: "#/components/parameters/ExportID"
    get:
      tags: [Accounts]
      operationId: getAccountExport
      summary: Get account export status
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Export status and a short-lived download URL when ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountExportEnvelope"
        "404":
          $ref: "#/components/responses/Error"
  /v1/me/deletion:
    get:
      tags: [Accounts]
      operationId: getAccountDeletion
      summary: Get pending deletion status
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Pending deletion schedule.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletionEnvelope"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags: [Accounts]
      operationId: cancelAccountDeletion
      summary: Cancel account deletion
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Pending account deletion cancelled.
        "404":
          $ref: "#/components/responses/Error"
  /v1/me/policy-acceptances:
    post:
      tags: [Policies]
      operationId: acceptPolicies
      summary: Accept current policy versions
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policy_acceptances]
              properties:
                policy_acceptances:
                  type: array
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/PolicyAcceptance"
      responses:
        "204":
          description: Policies accepted.
        "401":
          $ref: "#/components/responses/Error"
        "428":
          $ref: "#/components/responses/Error"
  /v1/challenges:
    get:
      tags: [Challenges]
      operationId: listChallenges
      summary: List available challenges
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
        - name: include_private
          in: query
          schema:
            type: boolean
          description: Moderator-only switch for draft and unlisted challenges.
      responses:
        "200":
          description: Challenges.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChallengeListEnvelope"
  /v1/challenges/daily:
    get:
      tags: [Challenges]
      operationId: getDailyChallenge
      summary: Get the current daily challenge
      responses:
        "200":
          description: Active daily challenge.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChallengeEnvelope"
        "404":
          $ref: "#/components/responses/Error"
  /v1/challenges/{challengeID}:
    parameters:
      - $ref: "#/components/parameters/ChallengeID"
    get:
      tags: [Challenges]
      operationId: getChallenge
      summary: Get a challenge
      security:
        - {}
        - bearerAuth: []
      responses:
        "200":
          description: Challenge.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChallengeEnvelope"
        "404":
          $ref: "#/components/responses/Error"
  /v1/challenges/{challengeID}/submissions:
    parameters:
      - $ref: "#/components/parameters/ChallengeID"
    get:
      tags: [Submissions]
      operationId: listChallengeSubmissions
      summary: List challenge submissions
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
        - name: include_private
          in: query
          schema:
            type: boolean
          description: Moderator-only switch for non-public submissions.
      responses:
        "200":
          description: Ranked, blocking-aware submissions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionListEnvelope"
    post:
      tags: [Submissions]
      operationId: createSubmission
      summary: Submit a proof clip
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [media_upload_id]
              properties:
                media_upload_id:
                  type: string
                  format: uuid
                caption:
                  type: string
                  maxLength: 280
      responses:
        "201":
          description: Submission created in pending moderation state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionEnvelope"
        "401":
          $ref: "#/components/responses/Error"
        "402":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
        "428":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/challenges/{challengeID}/leaderboard:
    parameters:
      - $ref: "#/components/parameters/ChallengeID"
    get:
      tags: [Submissions]
      operationId: getChallengeLeaderboard
      summary: Get a challenge leaderboard
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Public verified submissions with rank positions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardEnvelope"
  /v1/uploads:
    post:
      tags: [Media]
      operationId: createUpload
      summary: Create a signed media upload
      description: |
        Requires an active Pro entitlement and atomically reserves both the
        account allowance and platform-wide daily processing capacity.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content_type, size_bytes]
              properties:
                content_type:
                  type: string
                  enum: [video/mp4, video/quicktime, video/webm]
                size_bytes:
                  type: integer
                  format: int64
                  minimum: 1
      responses:
        "201":
          description: Signed object-storage upload initialized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadInstructionEnvelope"
        "401":
          $ref: "#/components/responses/Error"
        "402":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
        "428":
          $ref: "#/components/responses/Error"
  /v1/uploads/{uploadID}/complete:
    parameters:
      - $ref: "#/components/parameters/UploadID"
    post:
      tags: [Media]
      operationId: completeUpload
      summary: Complete a media upload
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Uploaded object verified.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadEnvelope"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/submissions/{submissionID}:
    parameters:
      - $ref: "#/components/parameters/SubmissionID"
    get:
      tags: [Submissions]
      operationId: getSubmission
      summary: Get a submission
      security:
        - {}
        - bearerAuth: []
      responses:
        "200":
          description: Public submission, or private submission for its owner or a moderator.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionEnvelope"
        "404":
          $ref: "#/components/responses/Error"
  /v1/submissions/{submissionID}/share-card.png:
    parameters:
      - $ref: "#/components/parameters/SubmissionID"
    get:
      tags: [Submissions]
      operationId: getSubmissionShareCard
      summary: Get a vertical share card
      responses:
        "200":
          description: Rendered 1080 by 1920 share card.
          content:
            image/png:
              schema:
                type: string
                contentEncoding: binary
        "404":
          $ref: "#/components/responses/Error"
  /v1/submissions/{submissionID}/vote:
    parameters:
      - $ref: "#/components/parameters/SubmissionID"
    put:
      tags: [Submissions]
      operationId: upsertVote
      summary: Create or update a style vote
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [score]
              properties:
                score:
                  type: integer
                  minimum: 1
                  maximum: 5
      responses:
        "200":
          description: Vote stored and aggregate score updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionEnvelope"
        "403":
          $ref: "#/components/responses/Error"
        "428":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/users/{userID}:
    parameters:
      - $ref: "#/components/parameters/UserID"
    get:
      tags: [Submissions]
      operationId: getPublicUser
      summary: Get a public user profile
      responses:
        "200":
          description: Public profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicUserEnvelope"
        "404":
          $ref: "#/components/responses/Error"
  /v1/users/{userID}/block:
    parameters:
      - $ref: "#/components/parameters/UserID"
    put:
      tags: [Safety]
      operationId: blockUser
      summary: Block a user
      security:
        - bearerAuth: []
      responses:
        "204":
          description: User blocked.
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
    delete:
      tags: [Safety]
      operationId: unblockUser
      summary: Unblock a user
      security:
        - bearerAuth: []
      responses:
        "204":
          description: User unblocked.
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/reports:
    post:
      tags: [Safety]
      operationId: createReport
      summary: Report content or an account
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReport"
      responses:
        "201":
          description: Report queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportEnvelope"
        "409":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
        "428":
          $ref: "#/components/responses/Error"
  /v1/copyright/notices:
    post:
      tags: [Copyright]
      operationId: createCopyrightNotice
      summary: Submit a copyright notice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCopyrightNotice"
      responses:
        "201":
          description: Notice received. Sensitive claimant data is not echoed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopyrightReceiptEnvelope"
        "422":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/copyright/notices/{noticeID}/counter:
    parameters:
      - $ref: "#/components/parameters/NoticeID"
    post:
      tags: [Copyright]
      operationId: createCopyrightCounterNotice
      summary: Submit a copyright counter-notice
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCounterNotice"
      responses:
        "201":
          description: Counter-notice received from the affected uploader.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopyrightReceiptEnvelope"
        "403":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/moderation/actions/{actionID}/appeals:
    parameters:
      - $ref: "#/components/parameters/ActionID"
    post:
      tags: [Safety]
      operationId: createAppeal
      summary: Appeal a moderation action
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  minLength: 20
                  maxLength: 2000
      responses:
        "201":
          description: Appeal received.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppealEnvelope"
        "403":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"
  /v1/admin/challenges:
    post:
      tags: [Administration]
      operationId: adminCreateChallenge
      summary: Create a challenge
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChallenge"
      responses:
        "201":
          description: Challenge created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChallengeEnvelope"
        "403":
          $ref: "#/components/responses/Error"
  /v1/admin/submissions:
    get:
      tags: [Administration]
      operationId: adminListSubmissions
      summary: List the submission review queue
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/ModerationStatus"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Moderation queue.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionListEnvelope"
        "403":
          $ref: "#/components/responses/Error"
  /v1/admin/submissions/{submissionID}/verification:
    parameters:
      - $ref: "#/components/parameters/SubmissionID"
    put:
      tags: [Administration]
      operationId: adminUpdateVerification
      summary: Record a manual verification decision
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [pending, passed, failed, manual_review]
                details:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Verification result recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmissionEnvelope"
  /v1/admin/reports:
    get:
      tags: [Administration]
      operationId: adminListReports
      summary: List the report queue
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [open, reviewing, resolved, dismissed]
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Report queue.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportListEnvelope"
  /v1/admin/reports/{reportID}/dismiss:
    parameters:
      - $ref: "#/components/parameters/ReportID"
    post:
      tags: [Administration]
      operationId: adminDismissReport
      summary: Dismiss a report
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                note:
                  type: string
                  minLength: 10
                  maxLength: 2000
      responses:
        "200":
          description: Report dismissed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportEnvelope"
  /v1/admin/moderation/actions:
    post:
      tags: [Administration]
      operationId: adminCreateModerationAction
      summary: Apply a moderation action
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateModerationAction"
      responses:
        "201":
          description: Enforcement action applied and audited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationActionEnvelope"
  /v1/admin/appeals:
    get:
      tags: [Administration]
      operationId: adminListAppeals
      summary: List moderation appeals
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, upheld, reversed]
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Appeals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppealListEnvelope"
  /v1/admin/appeals/{appealID}:
    parameters:
      - $ref: "#/components/parameters/AppealID"
    put:
      tags: [Administration]
      operationId: adminReviewAppeal
      summary: Review a moderation appeal
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status, resolution_note]
              properties:
                status:
                  type: string
                  enum: [upheld, reversed]
                resolution_note:
                  type: string
                  minLength: 10
                  maxLength: 2000
      responses:
        "200":
          description: Appeal reviewed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppealEnvelope"
  /v1/admin/copyright/notices:
    get:
      tags: [Administration]
      operationId: adminListCopyrightNotices
      summary: List copyright notices
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [received, reviewing, actioned, rejected, countered, restored, closed]
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Copyright notice queue including private claimant data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopyrightNoticeListEnvelope"
  /v1/admin/copyright/notices/{noticeID}:
    parameters:
      - $ref: "#/components/parameters/NoticeID"
    put:
      tags: [Administration]
      operationId: adminReviewCopyrightNotice
      summary: Review a copyright notice
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status, resolution_note]
              properties:
                status:
                  type: string
                  enum: [reviewing, actioned, rejected, restored, closed]
                resolution_note:
                  type: string
                  minLength: 10
                  maxLength: 2000
                counter_notice_due:
                  type: [string, "null"]
                  format: date-time
      responses:
        "200":
          description: Copyright notice state changed and linked content updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopyrightNoticeEnvelope"
  /v1/admin/audit-events:
    get:
      tags: [Administration]
      operationId: adminListAuditEvents
      summary: List audit events
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Reverse-chronological audit events.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditListEnvelope"
  /v1/admin/policies:
    post:
      tags: [Administration]
      operationId: adminPublishPolicy
      summary: Publish a policy version
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublishPolicy"
      responses:
        "201":
          description: Immutable policy version published as current.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyEnvelope"
        "403":
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    PolicyKind:
      name: kind
      in: path
      required: true
      schema:
        type: string
    ChallengeID:
      name: challengeID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    UploadID:
      name: uploadID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SubmissionID:
      name: submissionID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    UserID:
      name: userID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    NoticeID:
      name: noticeID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ActionID:
      name: actionID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ReportID:
      name: reportID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    AppealID:
      name: appealID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SessionID:
      name: sessionID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ExportID:
      name: exportID
      in: path
      required: true
      schema:
        type: string
        format: uuid
  requestBodies:
    RefreshToken:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [refresh_token]
            properties:
              refresh_token:
                type: string
                writeOnly: true
    OpaqueToken:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [token]
            properties:
              token:
                type: string
                writeOnly: true
  responses:
    Error:
      description: Structured API error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  schemas:
    Status:
      type: object
      required: [status]
      properties:
        status:
          type: string
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
    Pagination:
      type: object
      required: [limit, offset]
      properties:
        limit:
          type: integer
        offset:
          type: integer
    PolicyAcceptance:
      type: object
      required: [kind, version]
      properties:
        kind:
          type: string
        version:
          type: string
    Policy:
      type: object
      required: [kind, version, title, content, requires_acceptance, effective_at]
      properties:
        kind:
          type: string
        version:
          type: string
        title:
          type: string
        content:
          type: string
          description: Markdown policy content.
        requires_acceptance:
          type: boolean
        effective_at:
          type: string
          format: date-time
    PolicyEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Policy"
    PublicUser:
      type: object
      required: [id, handle, display_name, created_at]
      properties:
        id:
          type: string
          format: uuid
        handle:
          type: string
        display_name:
          type: string
        created_at:
          type: string
          format: date-time
    PrivateUser:
      allOf:
        - $ref: "#/components/schemas/PublicUser"
        - type: object
          required: [email, date_of_birth, role, status]
          properties:
            email:
              type: string
              format: email
            date_of_birth:
              type: string
              format: date
            role:
              type: string
              enum: [user, moderator, admin]
            status:
              type: string
              enum: [active, suspended, deletion_pending, deleted]
            email_verified_at:
              type: [string, "null"]
              format: date-time
    PublicUserEnvelope:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [user, stats]
          properties:
            user:
              $ref: "#/components/schemas/PublicUser"
            stats:
              $ref: "#/components/schemas/PublicUserStats"
    PublicUserStats:
      type: object
      required: [submission_count, challenge_wins, current_streak, best_streak, average_score]
      properties:
        submission_count:
          type: integer
        challenge_wins:
          type: integer
        current_streak:
          type: integer
        best_streak:
          type: integer
        average_score:
          type: number
          format: double
    Session:
      type: object
      required: [id, user_agent, created_at, expires_at]
      properties:
        id:
          type: string
          format: uuid
        user_agent:
          type: string
        ip_address:
          type: string
        created_at:
          type: string
          format: date-time
        last_used_at:
          type: [string, "null"]
          format: date-time
        expires_at:
          type: string
          format: date-time
    SessionListEnvelope:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Session"
    AccountExport:
      type: object
      required: [id, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, processing, ready, failed, expired]
        download_url:
          type: string
          format: uri
        expires_at:
          type: [string, "null"]
          format: date-time
        error:
          type: string
        created_at:
          type: string
          format: date-time
        completed_at:
          type: [string, "null"]
          format: date-time
    AccountExportEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/AccountExport"
    Subscription:
      type: object
      required:
        - tier
        - entitlement_id
        - status
        - active
        - will_renew
      properties:
        tier:
          type: string
          enum: [none, pro]
        provider:
          type: string
          enum: [revenuecat]
        entitlement_id:
          type: string
        product_id:
          type: string
        store:
          type: string
        environment:
          type: string
          enum: [production, sandbox, unknown]
        status:
          type: string
          enum: [inactive, active, canceled, billing_issue, expired]
        active:
          type: boolean
        will_renew:
          type: boolean
        current_period_start:
          type: [string, "null"]
          format: date-time
        current_period_end:
          type: [string, "null"]
          format: date-time
        management_url:
          type: string
          format: uri
        updated_at:
          type: string
          format: date-time
    SubscriptionUsage:
      type: object
      required:
        - daily_limit
        - daily_used
        - daily_remaining
        - daily_resets_at
        - monthly_limit
        - monthly_used
        - monthly_remaining
        - monthly_resets_at
      properties:
        daily_limit:
          type: integer
        daily_used:
          type: integer
        daily_remaining:
          type: integer
        daily_resets_at:
          type: string
          format: date-time
        monthly_limit:
          type: integer
        monthly_used:
          type: integer
        monthly_remaining:
          type: integer
        monthly_resets_at:
          type: string
          format: date-time
    SubscriptionOverviewEnvelope:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [app_user_id, subscription, usage]
          properties:
            app_user_id:
              type: string
              format: uuid
              description: Exact App User ID the Flutter RevenueCat SDK must use.
            subscription:
              $ref: "#/components/schemas/Subscription"
            usage:
              $ref: "#/components/schemas/SubscriptionUsage"
    DeletionEnvelope:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [status, execute_after]
          properties:
            status:
              type: string
              const: deletion_pending
            execute_after:
              type: string
              format: date-time
    AuthTokens:
      type: object
      required:
        - access_token
        - access_token_expires_at
        - refresh_token
        - refresh_token_expires_at
        - user
      properties:
        access_token:
          type: string
        access_token_expires_at:
          type: string
          format: date-time
        refresh_token:
          type: string
        refresh_token_expires_at:
          type: string
          format: date-time
        user:
          $ref: "#/components/schemas/PrivateUser"
    AuthEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/AuthTokens"
    Challenge:
      type: object
      required:
        - id
        - slug
        - title
        - description
        - rules
        - status
        - visibility
        - starts_at
        - ends_at
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        title:
          type: string
        description:
          type: string
        rules: {}
        status:
          type: string
          enum: [draft, published, closed, archived]
        visibility:
          type: string
          enum: [public, unlisted]
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
          description: Human administrator author. Omitted for system-seeded challenges.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ChallengeEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Challenge"
    ChallengeListEnvelope:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Challenge"
        pagination:
          $ref: "#/components/schemas/Pagination"
    CreateChallenge:
      type: object
      required: [slug, title, description, rules, starts_at, ends_at]
      properties:
        slug:
          type: string
          pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
        title:
          type: string
          minLength: 3
          maxLength: 120
        description:
          type: string
          minLength: 10
          maxLength: 4000
        rules: {}
        status:
          type: string
          enum: [draft, published]
          default: draft
        visibility:
          type: string
          enum: [public, unlisted]
          default: public
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
    Upload:
      type: object
      required: [id, content_type, expected_size, status, expires_at, created_at]
      properties:
        id:
          type: string
          format: uuid
        content_type:
          type: string
        expected_size:
          type: integer
          format: int64
        actual_size:
          type: [integer, "null"]
          format: int64
        status:
          type: string
          enum: [pending, uploaded, consumed, expired, rejected]
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    UploadEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Upload"
    UploadInstructionEnvelope:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [upload, method, url, headers]
          properties:
            upload:
              $ref: "#/components/schemas/Upload"
            method:
              type: string
              const: PUT
            url:
              type: string
              format: uri
            headers:
              type: object
              additionalProperties:
                type: string
    ModerationStatus:
      type: string
      enum: [pending, approved, rejected, removed]
    Submission:
      type: object
      required:
        - id
        - challenge_id
        - user_id
        - caption
        - verification_status
        - moderation_status
        - style_score
        - vote_count
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        challenge_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        user_handle:
          type: string
        clip_url:
          type: string
          format: uri
        thumbnail_url:
          type: string
          format: uri
        caption:
          type: string
        verification_status:
          type: string
          enum: [pending, passed, failed, manual_review]
        verification_details:
          type: object
          additionalProperties: true
        moderation_status:
          $ref: "#/components/schemas/ModerationStatus"
        style_score:
          type: number
          format: double
        vote_count:
          type: integer
        published_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SubmissionEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Submission"
    SubmissionListEnvelope:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Submission"
        pagination:
          $ref: "#/components/schemas/Pagination"
    LeaderboardEntry:
      type: object
      required: [rank, submission]
      properties:
        rank:
          type: integer
          minimum: 1
        submission:
          $ref: "#/components/schemas/Submission"
    LeaderboardEnvelope:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardEntry"
        pagination:
          $ref: "#/components/schemas/Pagination"
    CreateReport:
      type: object
      required: [target_type, target_id, reason]
      properties:
        target_type:
          type: string
          enum: [submission, user, challenge]
        target_id:
          type: string
          format: uuid
        reason:
          type: string
          enum:
            - harassment
            - hate
            - sexual_content
            - violence
            - self_harm
            - privacy
            - spam
            - cheating
            - copyright
            - underage
            - child_safety
            - other
        details:
          type: string
          maxLength: 2000
    Report:
      type: object
      required:
        - id
        - reporter_id
        - target_type
        - target_id
        - reason
        - status
        - priority
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        reporter_id:
          type: string
          format: uuid
        target_type:
          type: string
        target_id:
          type: string
          format: uuid
        reason:
          type: string
        details:
          type: string
        status:
          type: string
          enum: [open, reviewing, resolved, dismissed]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        assigned_to:
          type: [string, "null"]
          format: uuid
        resolution_note:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        resolved_at:
          type: [string, "null"]
          format: date-time
    ReportEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Report"
    ReportListEnvelope:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Report"
        pagination:
          $ref: "#/components/schemas/Pagination"
    CreateModerationAction:
      type: object
      required: [target_type, target_id, action, reason]
      properties:
        target_type:
          type: string
          enum: [submission, user, challenge]
        target_id:
          type: string
          format: uuid
        action:
          type: string
          enum: [approve, reject, remove, restore, warn, suspend, unsuspend, close, archive]
        reason:
          type: string
          minLength: 3
          maxLength: 200
        notes:
          type: string
          maxLength: 2000
        report_id:
          type: [string, "null"]
          format: uuid
        metadata:
          type: object
          additionalProperties: true
    ModerationAction:
      type: object
      required: [id, moderator_id, target_type, target_id, action, reason, created_at]
      properties:
        id:
          type: string
          format: uuid
        moderator_id:
          type: string
          format: uuid
        target_type:
          type: string
        target_id:
          type: string
          format: uuid
        action:
          type: string
        reason:
          type: string
        notes:
          type: string
        report_id:
          type: [string, "null"]
          format: uuid
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    ModerationActionEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/ModerationAction"
    Appeal:
      type: object
      required: [id, user_id, action_id, reason, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        action_id:
          type: string
          format: uuid
        reason:
          type: string
        status:
          type: string
          enum: [pending, upheld, reversed]
        reviewed_by:
          type: [string, "null"]
          format: uuid
        resolution_note:
          type: string
        created_at:
          type: string
          format: date-time
        resolved_at:
          type: [string, "null"]
          format: date-time
    AppealEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Appeal"
    AppealListEnvelope:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Appeal"
        pagination:
          $ref: "#/components/schemas/Pagination"
    CreateCopyrightNotice:
      type: object
      required:
        - claimant_name
        - claimant_email
        - claimant_address
        - relationship
        - copyrighted_work
        - infringing_url
        - good_faith
        - accuracy
        - signature
      properties:
        claimant_name:
          type: string
        claimant_email:
          type: string
          format: email
        claimant_address:
          type: string
        relationship:
          type: string
        copyrighted_work:
          type: string
        infringing_url:
          type: string
          format: uri
        submission_id:
          type: [string, "null"]
          format: uuid
        good_faith:
          type: boolean
          const: true
        accuracy:
          type: boolean
          const: true
        signature:
          type: string
    CreateCounterNotice:
      type: object
      required:
        - full_name
        - address
        - phone
        - email
        - good_faith
        - consent_to_process
        - signature
      properties:
        full_name:
          type: string
        address:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        good_faith:
          type: boolean
          const: true
        consent_to_process:
          type: boolean
          const: true
        signature:
          type: string
    CopyrightReceiptEnvelope:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, status, created_at]
          properties:
            id:
              type: string
              format: uuid
            notice_id:
              type: string
              format: uuid
            status:
              type: string
            created_at:
              type: string
              format: date-time
    CopyrightNotice:
      type: object
      required:
        - id
        - claimant_name
        - claimant_email
        - claimant_address
        - relationship
        - copyrighted_work
        - infringing_url
        - good_faith
        - accuracy
        - signature
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        claimant_name:
          type: string
        claimant_email:
          type: string
          format: email
        claimant_address:
          type: string
        relationship:
          type: string
        copyrighted_work:
          type: string
        infringing_url:
          type: string
          format: uri
        submission_id:
          type: [string, "null"]
          format: uuid
        good_faith:
          type: boolean
        accuracy:
          type: boolean
        signature:
          type: string
        status:
          type: string
          enum: [received, reviewing, actioned, rejected, countered, restored, closed]
        resolution_note:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        actioned_at:
          type: [string, "null"]
          format: date-time
        counter_notice_due:
          type: [string, "null"]
          format: date-time
    CopyrightNoticeEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/CopyrightNotice"
    CopyrightNoticeListEnvelope:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CopyrightNotice"
        pagination:
          $ref: "#/components/schemas/Pagination"
    AuditEvent:
      type: object
      required: [id, action, entity_type, entity_id, metadata, created_at]
      properties:
        id:
          type: integer
          format: int64
        actor_id:
          type: [string, "null"]
          format: uuid
        action:
          type: string
        entity_type:
          type: string
        entity_id:
          type: string
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    AuditListEnvelope:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AuditEvent"
        pagination:
          $ref: "#/components/schemas/Pagination"
    PublishPolicy:
      type: object
      required:
        - kind
        - version
        - title
        - content
        - requires_acceptance
        - effective_at
      properties:
        kind:
          type: string
        version:
          type: string
        title:
          type: string
        content:
          type: string
          minLength: 100
          maxLength: 100000
        requires_acceptance:
          type: boolean
        effective_at:
          type: string
          format: date-time
